
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/nathan-anderson-L95xDkSSuWw-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.greeting h2{ 
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  color: rgba(255, 255, 255);
}